.Game-info {
    padding-left: 1.5em;
}
.Game-title {
    font-weight: 900;
    font-size: 1.238em;
    font-family: 'Oxanium', cursive;
    color: #99cccc
}
.Game-id {
    font-size: 2.175em;
    font-family: 'Oxanium', cursive;
}
.Update {
    color: #aaaaaa;
}
.Profile-pic {
    width: 140px;
    height: 105px;
    border-radius: 0.5em;
}