.Overview-stats {
    min-width: 300px;
    max-width: 776px;
    min-height: 400px;
    font-family: 'Oxanium', sans-serif;
    background-color: rgb(31, 41, 54);
    border: 0.5px solid #445;
}

.pumbility-stat-item {
    min-height: 66px;
    background-color: rgb(31, 72, 132);
}

.stat-description {
    color: #e6e6e6;
}

.highest-cleared-item {
    min-height: 62px;
    background-color: rgb(31, 72, 101);
}

.highest-single {
    color: #DC143C;
}

.highest-double {
    color: #00CC00;
}

.title-stat-item {
    min-height: 56px;
    background-color: rgb(31, 53, 70);
}