.Game-info {
    padding-left: 1.5em;
}
.Game-info-mini {
    padding-left: 1em;
}
.Game-title {
    font-weight: 900;
    font-size: 1.238em;
    font-family: 'Oxanium', sans-serif;
}
.Game-title-mini {
    position: relative;
    top: 5px;
    font-weight: 700;
    font-size: 1.038em;
    font-family: 'Oxanium', sans-serif;
}
.col1 {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.2px;
    color: #99cccc;
}
.col2 {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    color: #d4af37;
}
.col3 {
    -webkit-text-stroke-color: #dddddd;
    -webkit-text-stroke-width: 0.7px;
    color: #7e888e;
}
.col4 {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    color: #663333;
}
.col5 {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    color: #1a7f66;
}
.col6 {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    color: #000000;
}
.Game-id {
    font-size: 2.175em;
    font-family: 'Oxanium', sans-serif;
}
.Game-id-mini {
    font-size: 1.575em;
    font-family: 'Oxanium', sans-serif;
}
.Game-name {
    color: "#db7093";
}
.number-mini {
    font-size: 0.85em;
    color: #d8d8d8;
    position: relative;
    top: -8px
}
.Update {
    color: #aaaaaa;
}
.Update-mini {
    font-size: 0.86em;
    color: #aaaaaa;
}
.Profile-pic {
    width: 140px;
    height: 105px;
    border-radius: 0.5em;
    border: 1px solid white;
}
.Profile-pic-mini {
    width: 85px;
    height: auto;
    border-radius: 0.5em;
}
.container-mini {
    cursor: pointer;
    border: 2px solid #bbbbbb;
    border-radius: 10px;
    background-color: #343a40;
    max-width: 400px;
}