.font-title {
    font-family: 'Oxanium', sans-serif;
    font-weight: 900;
    font-size: 1.238em;
}

.font-bronze {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.6px;
    color: #663333;
}

.font-silver {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.6px;
    color: #7e888e;
}

.font-gold {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.6px;
    color: #d4af37;
}

.font-platinum {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    color: #77aaaa;
}

.stepball {
    width: 40px;
    height: auto;
}