.game-font {
    font-family: 'Plateia', sans-serif;
}

.level-font {
    font-size: 22.5px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.9);
    -webkit-text-stroke-color: #111111;
    -webkit-text-stroke-width: 0.9px;
    color: #ffffff;
    z-index: 2;
}

.level-font-margin {
    margin-top: 3px;
    margin-left: 4px;
}

.level-margins {
    margin-left: 15px;
}

.score-font {
    font-size: 16px;
}

.name-font {
    font-size: 16px;
}

.onespaceleft {
    display: inline-block;
    width: 4px;
}

.onespaceright {
    display: inline-block;
    width: 4px;
}

.ucs-text {
    margin-top: 7px;
}

.stepball-img {
  width: 45px;
  height: auto;
  max-height: 80%;
  position: relative;
  z-index: 1;
}